.container-card {
  display: flex;
  color: white;
}
.card-summary-block {
  display: flex;
  flex-direction: column;
  min-width: 20%;
  margin-left: 3%;
}
.card-summary-content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.card-summary-value {
  min-width: 70%;
  display: flex;
  flex-direction: column;
  padding-left: 5%;
  padding-top: 5%;
}
.card-summary-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 30%;
  font-size: 3em;
  color: white;
  padding-right: 5%;
}
.card-summary-footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.2);
}
.card-summary-footer h6 {
  margin: 0;
}
.card-summary-footer i {
  margin-left: 4%;
}
